.sidebar {
  background-color: darkgray;
  border-radius:5px;
}
span{
    color: white;
    font-weight:500;
}
.sidebar li {
  margin-bottom: 1rem;
}

.sidebar li:hover span {
  display: inline-block;
  background-color: aquamarine;
  transform: translate(5px);
}
